#pragma once

#include <string>
#include <vector>

namespace {{ module.name }} {

{% for service in module.services %}
class {{ service.name }}
{
public:
    {% for fn in service.functions %}
    virtual {{fn.return_type}} {{fn.name}}({{fn.args | cpp_args_as_str_with_defaults}}) = 0;
        
    {% endfor %}
};

{% endfor %}
} // namespace {{ module.name }}