#include "{{ service.impl_name }}.h"

namespace {{ module.name }} {

{% for fn in service.functions %}
{{fn.return_type}} {{service.name}}::{{fn.name}}({{fn.args | cpp_fmt_args}})
{
    {% section fn.name + "_impl" %}
    //
    // TODO: Implement
    //
    {% endsection %}

}
    
{% endfor %}
} // namespace {{ module.name }}